.main {
    background-color:#343a40;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    position: relative;
    margin-top: 30px;
}
.main h2:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 50px;
    left: 0;
    right: 0;
    top: 60px;
    margin: 0 auto;
    border-bottom: 2px solid #20c997;
}
.portfolio {
    width:80%;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}