@import "src/sass/mixins";
@import "src/sass/variables";

.title {
  @include text(#494949, $lightFontFamily, 32px, 700);
  text-transform: uppercase;
  position: relative;
  @media screen and (max-width: 880px) {
    font-size: 24px;
  }
  @media screen and (max-width: 660px) {
    font-size: 18px;
  }
  @media screen and (max-width: 660px) {
    font-size: 18px;
  }
  @media screen and (max-width: 440px) {
    font-size: 14px;
  }

  &:before {
    content: "";
    height: 2px;
    background: #bcbcbc;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    margin-bottom: 0;
    width: 44px;
    bottom: -15px;
  }

  &::after {
    content: "";
    height: 2px;
    background: #bcbcbc;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    margin: 0;
    width: 77px;
    bottom: -20px;
  }
}