@import "src/sass/mixins";
@import "src/sass/variables";

.title {
  @include text(#494949, $lightFontFamily, 32px, 700);
  text-transform: uppercase;
  position: relative;

  &:before {
    content: "";
    height: 2px;
    background: #bcbcbc;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    margin-bottom: 0;
    width: 44px;
    bottom: -15px;
  }

  &::after {
    content: "";
    height: 2px;
    background: #bcbcbc;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    margin: 0;
    width: 77px;
    bottom: -20px;
  }
}