.main {
    width: 300px;
    display: flex;
    justify-content:space-between;
    margin-right: 10%;
}
.main * {
    text-decoration: none;
    font-size: 14px;
    text-transform:uppercase;
    color:#495057;
}
.main a:hover {
    color: #20c997;
}



