.main {
    height: 400px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
}
.main h2 {
    color: #2b3940;
    font-size: 40px;
    font-weight: 600;
    position: relative;
    margin-top: -40px;
}
.main h2:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 50px;
    left: 0;
    right: 0;
    top: 60px;
    margin: 0 auto;
    border-bottom: 2px solid #20c997;
}
.btn {
    border: 1px solid #00b074;
    width: 200px;
    height: 50px;
    background-color: transparent;
    letter-spacing: 1px;
    margin-top: 48px;
    color: #00b074;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}
.btn:hover {
    background-color: #00b074;
    color:#fff;
}