@import "src/sass/mixins";
@import "src/sass/variables";

.main {
  min-height: 40vh;
  display: flex;
  justify-content: center;
  margin-top: 50px;

  .wrapper {
    @include container(80%, center, space-between);
    width: $mainWidth;
    flex-direction: column;

    .title {
      width: 50%;
    }

    .wrapbtn {
      .btn {
        @include text(#fff, $lightFontFamily, 14px, 400);
        height: 40px;
        padding: 0 40px;
        transition: all .3s ease 0s;
        border: 1px solid #d9d9d9;
        cursor: pointer;
        background-color: #393939;
        text-transform: uppercase;

        &:hover {
          background-color: #000;
          color: #fff !important;
        }
      }
    }
  }
}