@import "src/sass/mixins";
@import "src/sass/variables";

.main {
  @include container(20vh, center, center);
  margin-bottom: 30px;

  .copy {
    display: flex;
    min-width: $mainWidth;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width:400px) {
      flex-direction: column;
    }

    .links {
      display: flex;
      justify-content: start;

      a {
        text-decoration: none;
        @include text(#919191, $lightFontFamily, 13px, 400);
        padding-right: 15px;
        transition: all .3s ease;
        cursor: pointer;
        text-transform: uppercase;

        &:hover {
          color: #000;
        }
      }
    }

    p {
      @include text(#919191, $lightFontFamily, 13px, 400);
      @media screen and (max-width:400px) {
        margin-top: 20px;
      }
    }
  }
}